/* banner 部分 */
.banner {
  width: 100%;
  margin-top: 2.5rem;
  text-align: center;
}

.banner img {
  display: block;
  width: 100%;
}

.title h3 {
  font-size: .8rem;
  color: #2894FF;
}

.title h3:last-child {
  font-size: .7rem;
  color: #ff8800;
}

.conBox_01,
.conBox_02,
.conBox_03,
.conBox_04,
.conBox_05,
.conBox_06,
.conBox_07,
.conBox_08 {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin-top: .5rem;
  padding: .5rem 0rem;
  box-sizing: border-box;
}

.conBox_01_list {
  width: 94%;
  margin: 0 auto;
  padding-top: .5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.conBox_01_list li {
  float: left;
  width: 29%;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 6%;
}

.conBox_01_list li img {
  height: auto;
  width: 100%;
  border: 0;
  display: block;
}

.conBox_01_list li .conBox_01_text {
  color: #fff;
  background: #ed711f;
  padding: 10% 0 15% 0;
}

.conBox_01_list li:nth-child(2) {
  margin: 0 6.5% 6% 6.5%;
}

.conBox_01_list li:nth-child(4) {
  margin: 0 10% 6% 15%;
}

.conBox_01_list li p {
  font-size: .7rem;
  line-height: 1.5rem;
  color: #fff;
  background: #ed711f;
  padding: .3rem 0;
  box-sizing: border-box;
}

.conBox_01_list li p span {
  display: block;
  font-weight: bold;
  font-size: .75rem;
}

.conBox_01>a,
.conBox_02>a,
.conBox_03>a {
  font-size: .75rem;
  display: inline-block;
  padding: .3rem .5rem;
  text-align: center;
  background: #00a0e9;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 0 #006694;
  margin-bottom: .5rem;
}


.conBox_02_list01 {
  display: flex;
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  margin: .3rem 0rem;
}

.conBox_02_list01 li {
  flex: 1;
  text-align: center;
}

.conBox_02_list01 li img {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.conBox_02_list01 li p {
  font-size: .7rem;
}


.conBox_02_list02 {
  width: 100%;
  height: 8rem;
  padding: .3rem .5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.conBox_02_list02 li:first-child,
.conBox_02_list02 li:last-child {
  width: 25%;

  text-align: center;
  float: left;
  margin-top: .3rem;
}

.conBox_02_list02 li:last-child {
  float: right;
  ;
}

.conBox_02_list02 li img {
  display: block;
  width: 100%;
}

.conBox_02_list02 li:nth-child(2) {
  width: 45%;
  border: 2px solid #2c3382;
  padding: .3rem .5rem;
  box-sizing: border-box;
  float: left;
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.conBox_02_list02 li:nth-child(2) p {
  font-size: .7rem;
  text-indent: 2em;
  text-align: left;
}

/* 优贝口腔巨资打造 */
.conBox_03_list {
  width: 100%;
  padding: .3rem;
  box-sizing: border-box;
  display: flex;
  margin-top: .5rem;
}

.conBox_03_list li {
  flex: 1;
  margin: 0rem .1rem;
  border-radius: .5rem;
  border: 1px solid #94a5bb;
  background-color: #94a5bb;
  overflow: hidden;
}

.conBox_03_list li h3 {
  font-size: .75rem;
  line-height: 1.5rem;
  color: #0080FF;
  background-color: #fff;
}

.conBox_03_list li p {
  font-size: .7rem;

  padding: .3rem;
  box-sizing: border-box;
}


.conBox_03 .conBox_img {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.conBox_03 .conBox_img li {
  width: 33.3%;
  float: left;
  text-align: center;
}


.conBox_03 .conBox_img li img {
  display: block;
  width: 100%;
}

/* 引进高端儿童齿科 */
.conBox_04_list {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  display: flex;
}

.conBox_04_list li {
  flex: 1;
  margin: 0 .25rem;
  background-color: #48ade2;
  border-radius: .5rem;
  text-align: center;
  padding: .5rem .3rem;
  box-sizing: border-box;
}

.select_li {
  background-color: #ff8800 !important;
}

.hide {
  display: none;
}

.conBox_04_list li h3 {
  font-size: .75rem;
  line-height: 1.5rem;
  color: #fff;
}


.conBox_04_text {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;

}

.conBox_04_text li {
  width: 100%;

  padding: .3rem .5rem;
  box-sizing: border-box;
  border: 1px solid #B3D9D9;
  overflow: hidden;
  background-color: #B3D9D9;
}

.conBox_04_text li .text {
  float: left;
  width: 60%;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.conBox_04_text li .text p {
  font-size: .7rem;
  color: #333;
  margin-top: 18.75px;
  text-align: left;
}

.conBox_04_text li .text p span {
  font-size: .75rem;
  color: #ff8800;
  font-weight: bolder;
  margin-right: .5rem;
}

.conBox_04_text li .conBox_04_img {
  float: right;
  width: 40%;
  text-align: center;
}

.conBox_04_text li .conBox_04_img img {
  display: block;
  width: 100%;
}

/* conBox_04_btn */
.conBox_04_btn {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.conBox_04_btn li {
  width: 40%;
  height: 1.5rem;
  float: left;
  margin: 0rem 5%;
  text-align: center;
}



.conBox_04_btn li a {
  display: block;
  font-size: .75rem;
  line-height: 1.5rem;
  background-color: #9F4D95;
  border-radius: .5rem;
  color: #fff;
  font-weight: bolder;
}

.conBox_04_btn li a span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/children/con_ser.png)no-repeat center / 100% 100%;
  vertical-align: middle;
  margin-right: .5rem;
}


.conBox_04_btn li:last-child a span {
  background: url(../images/children/Price.png)no-repeat center / 100% 100%;
  margin-top: -.1rem;
}

.conBox_04_btn li:last-child a {
  background-color: #984B4B;
}


/* 优贝口腔美齿医师推荐 */
.conBox_07 ul {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 1rem;
}

.conBox_07 ul li {
  width: 48%;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
}

.conBox_07 ul li:last-child {
  float: right;
}

.conBox_07 ul li img {
  display: block;
  width: 100%;
}

.conBox_07 ul li h3 {
  font-size: .75rem;
  line-height: 1.5rem;
  color: #CE0000;
  margin-top: .5rem;
}

.conBox_07 ul li p {
  font-size: .7rem;
  line-height: 1rem;
}

.conBox_07 ul li a {
  display: inline-block;
  padding: .2rem .5rem;
  font-size: .75rem;
  color: #fff;
  background-color: #ff8800;
  border-radius: .5rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}


/* 热门问题 */
.conBox_08 .relevant_list {
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
}

.relevant_list ul {
  width: 100%;
  overflow: hidden;
}

.relevant_list ul li {
  width: 48%;
  height: 1.5rem;
  float: left;
  text-align: center;
  margin: .3rem 0rem;
  overflow: hidden;
  padding: 0rem.3rem;
  box-sizing: border-box;
}

.relevant_list ul li:nth-child(2n) {
  float: right;
}

.relevant_list ul li a {
  display: block;
  line-height: 1.5rem;
  font-size: .7rem;
  color: #fff;
}

.relevant_list ul li:first-child,
.relevant_list ul li:nth-child(4),
.relevant_list ul li:nth-child(5),
.relevant_list ul li:nth-child(8) {
  background: #018ed5;
}

.relevant_list ul li:nth-child(2),
.relevant_list ul li:nth-child(3),
.relevant_list ul li:nth-child(6),
.relevant_list ul li:nth-child(7) {
  background: #67bce5;
}





























/* 适配平板 pro */
@media only screen and (min-width: 1024px) {
  .conBox_02_list02 {
    height: 10rem;
  }
}