body {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  position: relative;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}