body {
  background-color: #f4f4f4;
}

/* 内容区域 */
.con {
  width: 100%;
}

.con .con_about,
.con .con_team,
.con .con_class,
.con .con_Online,
.con .con_Case {
  width: 100%;
  overflow: hidden;
}

.con .con_about .title,
.con .con_team .title,
.con .con_class .title,
.con .con_Online .title,
.con .con_Case .title {
  width: 100%;
  padding: .3rem;
  box-sizing: border-box;
  overflow: hidden;
}

.con .con_about .title img,
.con .con_team .title img,
.con .con_class .title img,
.con .con_Online .title img,
.con .con_Case .title img {
  display: block;
  float: left;
  width: 1rem;
  margin-top: .2rem;
}

.con .con_about .title h3,
.con .con_team .title h3,
.con .con_class .title h3,
.con .con_Online .title h3,
.con .con_Case .title h3 {
  font-size: 1rem;
  color: #5A5AAD;
  float: left;
  margin: 0rem .5rem;
}

.con .con_about .title span,
.con .con_team .title span,
.con .con_class .title span,
.con .con_Online .title span,
.con .con_Case .title span {
  font-size: .7rem;
  color: #999;
  float: left;
  margin-top: .3rem;
}

.con .con_about .int_box {
  width: 100%;
  padding: .3rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

}

.con .con_about .int_box .img {
  width: 40%;
  height: 7.5rem;
  margin-left: .5rem;
  float: left;
  position: absolute;
  z-index: 1;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: .5rem;
}

.con .con_about .int_box .img .about_img .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
}

.con .con_about .int_box .text {
  float: right;
  width: 90%;
  height: 9.5rem;

  border: 1px solid #b8974d;
  padding: .5rem 0rem;
  padding-right: .5rem;
  padding-left: 36%;
  box-sizing: border-box;
  background-color: #fff;
}

.con .con_about .int_box .text h3 {
  font-size: .8rem;
  margin-bottom: 1rem;
  color: #ff8800;
}

.con .con_about .int_box .text p {
  text-indent: 2em;
  font-size: .7rem;
  margin-bottom: 1rem;
}

.con .con_about .int_box .text a {
  width: 100%;
  display: block;
  font-size: .7rem;
  margin-top: .3rem;
}

.con .con_about .int_box .text span {
  font-size: .75rem;
  padding: .2rem .3rem;
  background-color: #97CBFF;
  color: #fff;
  border-radius: .3rem;
  margin-left: 30%;
}

.con .con_menu_list {
  width: 100%;
  overflow: hidden;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.con .con_menu_list li {
  width: 25%;
  float: left;
  padding: .3rem .3rem;
  box-sizing: border-box;
}

.con .con_menu_list li a {
  display: block;
  width: 100%;
  border: 1px solid #94a5bb;
  background-color: #94a5bb;
  text-align: center;
  border-radius: .5rem;
  overflow: hidden;
}

.con .con_menu_list li a .menu_img {
  width: 100%;
  background-color: #fff;
}

.con .con_menu_list li a img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.con .con_menu_list li a h3 {
  color: #fff;
  font-size: .7rem;
  line-height: 1.3rem;
}

/* 医生团队 */

.con .con_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con .con_team .team_box {
  width: 100%;
  text-align: center;
}

.con .con_team .team_box img {
  display: block;
  width: 100%;
}





.team_but {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team_but button {
  position: relative;
  margin: 0;
  padding: .2rem .5rem;
  height: 1.6rem;
  width: 5.5rem;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;

  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  animation: rotate 0.7s ease-in-out both infinite;
}

.team_but button span {
  color: #ff8800;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 2px;
  animation: storm 0.7s ease-in-out both infinite;
  animation-delay: 0.06s;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}



.btn-pill:before,
.btn-pill:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #1d89ff;
  content: '';
  opacity: 0;
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}



.btn-pill:before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-pill:after {
  transform: translate(50%, 0) scale(1.1);
}




/* 案例中心 */
.case_box {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.case_box .case_list {
  width: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: .5rem;
  background-color: #fff;
  padding: .5rem;
  box-sizing: border-box;

}

.case_box .case_list img {
  border-radius: .5rem;
}

.case_box .case_list img:nth-child(1) {
  display: block;
  width: 35%;
  float: left;
  margin-top: .3rem;
}

.case_box .case_list img:nth-child(3) {
  width: 100%;
  margin-top: .8rem;
}

.case_box .case_list .fr {
  width: 58%;
  float: right;
}

.case_box .case_list .fr h3 {
  font-size: .8rem;
  color: #ff8800;
}

.case_box .case_list .fr p {
  font-size: .7rem;
  color: #333;
}

.case_box .case_list .fr p strong {
  font-size: .75rem;
  color: #0080FF;
}

.case_box .case_list .case_but {
  width: 100%;
  height: 1.5rem;
  margin-top: .5rem;
}

.case_box .case_list .case_but a {
  display: block;
  float: left;
  width: 49%;
  line-height: 1.5rem;
  border-right: 2px solid #fff;
  text-align: center;
  font-size: .8rem;
  color: #5A5AAD;
  background-color: #ACD6FF;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  font-weight: 600;
}

.case_box .case_list .case_but a:last-child {
  border-right: 0px;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  color: #555;
}


.con_Case .case_box .swiper-pagination {
  position: relative;
  z-index: 0;
  height: 2rem;
}

.case_box .case_list .case_but a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  text-align: center;
  margin-right: .3rem;

}

.case_box .case_list .case_but a span img {
  display: block;
  width: 100%;
  margin-top: .2rem;
}

.case_box .swiper-pagination {
  position: relative;
  z-index: 0;
  height: 2rem;
}
















/* 医生课堂 */

.con .con_class {
  height: 14rem;
  background: url(../images/index/class_bgc.png)no-repeat center/ 100% 14rem;
}

.con .con_class .class_box {
  width: 100%;
  margin-bottom: .8rem;
}

.con .con_class .class_box ul {
  width: 90%;
  padding: 0rem .3rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px #333;
  margin: 0 auto;
  border-radius: .5rem;
}

.con .con_class .class_box ul li {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.con .con_class .class_box ul li:last-child {
  border-bottom: 0px;
}

.con .con_class .class_box ul li img {
  float: left;
  width: .8rem;
  margin-right: .5rem;
  vertical-align: middle;
  margin-top: .2rem;
}

.con .con_class .class_box ul li a {
  font-size: .7rem;
  line-height: 1.5rem;
  float: left;
  color: #333;
}

.con .con_class .class_box ul li span {
  font-size: .7rem;
  line-height: 1.5rem;
  float: right;
  color: #333;
  margin-right: .5rem;
}

.con .con_class .class_but {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  text-align: center;
}


.con .con_class .class_but a {
  padding: .3rem .5rem;
  box-sizing: border-box;
  font-size: .7rem;
  color: #fff;
  border-radius: .5rem;
  font-weight: 700;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  margin: 0 2rem;
}

.green.button {
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


.orange.button {
  -webkit-animation-name: orangePulse;
  -webkit-animation-duration: 2s;
}

.orangellow.button {
  -webkit-animation-name: orangellowPulse;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes greenPulse {
  from {
    background-color: #fc5265;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #FF2D2D;
    -webkit-box-shadow: 0 0 27px #FF2D2D;
  }

  to {
    background-color: #fc5265;
    -webkit-box-shadow: 0 0 9px #333;
  }
}



@-webkit-keyframes orangellowPulse {
  from {
    background-color: #D26900;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #FF8000;
    -webkit-box-shadow: 0 0 27px #FF8000;
  }

  to {
    background-color: #D26900;
    -webkit-box-shadow: 0 0 9px #333;
  }
}











/* 在线预约 */
.con .con_Online {
  width: 100%;
}

.con .con_Online .Online_box {
  width: 100%;
  overflow: hidden;
  padding: .5rem;
  box-sizing: border-box;

}

.con .con_Online .Online_box .Online_text {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border-radius: .5rem;
}

.con .con_Online .Online_box .Online_fl,
.con .con_Online .Online_box .Online_fr {
  float: left;
  width: 48.5%;
  margin-bottom: .15rem;
  margin-right: 3%;
  padding: .5rem;
  box-sizing: border-box;

}

.con .con_Online .Online_box .Online_fr {
  float: right;
  margin-right: 0%;
}

.con .con_Online .Online_box .Online_fr select {
  box-sizing: border-box;
  width: 100%;
  height: 1.6rem;
  line-height: 1.5rem;
  padding: 0.2rem .5rem;
  font-size: .7rem;
  color: #666;
  background: #f4f4f4;
  border-radius: 5px;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.con .con_Online .Online_box .Online_fr select option {
  line-height: 1.5rem;
  font-size: .7rem;
}

.con .con_Online .Online_box div span {
  display: block;
  font-size: .75rem;
  color: #333;
  margin-bottom: .09rem;
}

.con .con_Online .Online_box div input {
  box-sizing: border-box;
  width: 100%;
  line-height: 1.4rem;
  padding: 0 .5rem;
  font-size: .7rem;
  color: #666;
  background: #f4f4f4;
  border-radius: 5px;
}

.con .con_Online .Online_box .Online_but {
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  float: left;
}

.con .con_Online .Online_box .Online_but textarea {
  padding: 0.3rem .5rem;
  width: 94%;
  height: 3rem;
  font-size: .7rem;
  color: #666;
  background: #f4f4f4;
  border-radius: 5px;
  margin-top: .5rem;
}

.Online_text i {
  font-size: .75rem !important;
  color: #ff0000 !important;
}



.con .con_Online .Online_box .Online_text .index-form-btn {
  width: 100%;
  float: left;
  margin-bottom: .5rem;
}



.con .con_Online .Online_box .Online_text .index-form-btn input {
  width: 45%;
  float: left;
}


.con .con_Online .Online_box .Online_text .index-form-btn .sub {
  margin: 0% 3%;
  background: #5A5AAD;
  color: #fff;
  font-size: .8rem;
}

.Online_text>span {
  padding: .5rem !important;
  box-sizing: border-box !important;
  font-size: .7rem !important;
  color: #ff8800 !important;
}



















/* 适配平板 pro */
@media only screen and (min-width: 1024px) {
  .case_box .swiper-pagination {
    margin-top: .5rem;
  }
}






/* 适配平板 */
@media only screen and (max-width: 768px) {

  .con .con_about .int_box .text {
    height: 7.7rem;
    padding-top: .1rem;
  }

  .con .con_about .int_box .img {
    height: 5.8rem;
  }



  .con .con_about .int_box .text h3,
  .con .con_about .int_box .text p {
    margin-bottom: .1rem;
  }

  .case_box .swiper-pagination {
    margin-top: .5rem;
    height: 1rem;
  }




}

/* 适配 Photo6、7、8Plus */
@media only screen and (max-width: 414px) {
  .con .con_about .int_box img {
    margin-top: .5rem;
  }

  .con .con_about .int_box .text {
    height: 8.5rem;
    padding-top: .3rem;

  }

  .team_but button {
    height: 1.5rem;
    padding: 0rem;
  }

  .con .con_class .class_box {
    margin-bottom: .3rem;
  }

  .con .con_class .class_but {
    padding: 0rem;
  }


}




/* 适配 Galaxy S5 */
@media only screen and (max-width: 360px) {

  .con .con_about .int_box .text {
    height: 9rem;
  }


}

/* 适配 Photo 5s */
@media only screen and (max-width: 320px) {
  .con .con_about .int_box .img {
    margin-top: 1.5rem;
    height: 6.8rem;
  }

  .con .con_about .int_box .text {
    height: 10rem;
  }

  .con .con_class {
    height: 14.5rem;
  }


}