/* banner 部分 */
.banner {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

.banner img {
  display: block;
  width: 100%;
}

/* 内容区域开始 */
.crt,
.situation,
.team,
.hot {
  width: 100%;
  margin-top: .5rem;
  background-color: #fff;
}

.title_nav {
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #dcdcdc;
  padding-left: .5rem;
  box-sizing: border-box;
}

.title_nav h4 {
  font-size: .7rem;
  line-height: 1.5rem;
  position: relative;
  margin-left: .5rem;
}

.title_nav h4:before {
  content: '';
  position: absolute;
  width: .3rem;
  height: 1rem;
  background-color: #5A5AAD;
  left: -.5rem;
  top: .2rem;
}

/* 了解牙齿矫正 */
.crt ul {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.crt ul li {
  width: 100%;
  border-bottom: 1px dashed #ccc;
  overflow: hidden;
  position: relative;
}

.crt ul li img {
  display: block;
  width: 30%;
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: .5rem;
  border: 1px solid #ddd;
}

.crt ul li .crt_text {
  width: 65%;
  float: right;
}

.crt ul li .crt_text h3 {
  font-size: .75rem;
  line-height: 1.5rem;
  text-align: center;
  color: #004986;
}

.crt ul li .crt_text p {
  font-size: .7rem;
  text-indent: 2em;
  margin: .5rem 0rem;
}

.crt ul li .crt_text p a {
  float: right;
  color: #ff8800;
}

/* 你是哪种情况模块 */

.situation {
  padding-bottom: .5rem;
  box-sizing: border-box;
}

.sit_list {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.sit_list li {
  width: 33.3%;
  text-align: center;
  float: left;
  margin-top: .5rem;
}

.sit_list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.sit_list li a img {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: .5rem;
  border: 1px solid #ccc;
}

.sit_list li a h3 {
  font-size: .7rem;
  line-height: 1.5rem;
}

.sit_btn {
  width: 100%;
  text-align: center;
}

.sit_btn a {
  padding: .3rem 1rem;
  font-size: .75rem;
  background: #0080FF;
  color: #fff;
}


/* 医生团队模块 */
.team .swiper-container {
  width: 100%;
  height: 100%;
}

.team .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.team .team_box {
  width: 70%;
  margin: 1rem auto;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.team .team_box .introduce {
  width: 65%;
}

.team .team_box .introduce h3 {
  font-size: .8rem;
  line-height: 1.5rem;
  color: #0080FF;
}

.team .team_box .introduce p {
  font-size: .7rem;
  line-height: 1rem;
  text-align: left;
}

.team .team_box .introduce p:last-child {
  margin-top: .5rem;
}

.team .team_box .introduce p span {
  font-size: .73rem;
  color: #ff8800;
  font-weight: 700;
}

.team .team_box .team_img {
  width: 30%;
  background-color: #ACD6FF;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.team .team_box .team_img img {
  display: block;
  width: 100%;
}

/* 联系按钮 */
.contact_btn {
  width: 100%;
  height: 3rem;
  display: flex;
}

.button_iconed_smooth {
  display: inline-block;
  position: relative;
  flex: 1;
  border-radius: 1rem;
  width: auto;
  margin: .3rem 1rem;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  height: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6293), color-stop(50%, #ff6293), color-stop(50%, #d64874), color-stop(100%, #d64874));
}

.button_iconed_smooth:last-child {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9999CC), color-stop(50%, #9999CC), color-stop(50%, #5A5AAD), color-stop(100%, #5A5AAD));
}



.button_iconed_smooth:before {
  content: "";
  position: absolute;
  border-radius: .8rem;
  height: 1.5rem;
  top: .23rem;
  bottom: 0;
  left: 1rem;
  right: .35rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d64874), color-stop(50%, #d64874), color-stop(50%, #ff6293), color-stop(100%, #ff6293));
}


.button_iconed_smooth a {
  display: block;
  position: relative;
  height: 100%;
  line-height: 2rem;
  font-family: "Futura-Bold", "Futura LT Book", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .7rem;
  color: white;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}


.button_iconed_smooth>span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(50%, #ececec), color-stop(50%, white), color-stop(100%, white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_smooth {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6293), color-stop(100%, #d64874));
}

.button_smooth:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d64874), color-stop(100%, #ff6293));
}

.button_smooth a span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.button_iconed_smooth a>span {
  padding-left: 4rem;
}

.button_iconed_smooth i {
  position: absolute;
  font-style: normal;
  font-size: .75rem;
  height: 2rem;
  left: -1px;
  padding-left: 25px;
  padding-right: 15px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(50%, #ddd), color-stop(100%, #ddd));
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
}


.button_iconed_smooth i:before {
  content: "";
  display: block;
  position: absolute;
  left: .35rem;
  top: .23rem;
  height: 1.5rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(50%, #ddd), color-stop(50%, white), color-stop(100%, white));
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
}

.button_iconed_smooth i span {
  position: relative;
  color: #d64874;

}

.button_iconed_smooth i span img {
  width: 1.5rem;
  vertical-align: middle;
  margin-top: -.2rem;

}



.button_iconed_smooth:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d64874), color-stop(100%, #ff6293));
}

.button_iconed_smooth:last-child:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5A5AAD), color-stop(100%, #9999CC));
}



.button_iconed_smooth i {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ddd));
}

.button_iconed_smooth i:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, white));
}







































/* 热门关注模块 */
.hot ul {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.hot ul li {
  height: 1.5rem;
  border-bottom: 1px dashed #ccc;
}

.hot ul li a {
  display: block;
  font-size: .7rem;
  line-height: 1.5rem;
  color: #555;
}