/* 来院路线模块开始 */
.address_info {
  width: 95%;
  height: 15rem;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px #333;
}

.address_info .title,
.nav_store .title {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  margin-top: .5rem;
}

.address_info .title h3,
.nav_store .title h3 {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #5A5AAD;
  position: relative;
}

.address_info .title h3:before,
.nav_store .title h3:before {
  position: absolute;
  content: '';
  width: 3rem;
  height: .2rem;
  left: 0;
  top: -.3rem;
  background-color: #8080C0;
}

.address_info .title p,
.nav_store .title p {
  font-size: .7rem;
  color: #666;
}

.address_box {
  width: 100%;
  margin-top: 1rem;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.address_box ul {
  width: 100%;
  display: flex;
}

.address_box ul li {
  flex: 1;
}

.address_box ul li img {
  display: block;
  width: 2.5rem;
  margin: 0 auto;
  background: #333;
  padding: .3rem;
  box-sizing: border-box;
  border-radius: .5rem;
}

.amap-info-contentContainer.bottom-center {
  font-size: 0px;
}



.info_box {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.info_box .list {
  width: 100%;
  overflow: hidden;
}

.info_box .list span {
  display: inline-block;
  font-size: .8rem;
  float: left;
  padding: .3rem .5rem;
  border-radius: .5rem;
  background-color: #ff8800;
  color: #fff;
  margin-top: .5rem;
}

.info_box .list .list_fr {
  float: right;
  width: 70%;
}

.select_add {
  transform: scale(1.3);
  background-color: #2894FF !important;
}

.hide_info {
  display: none;
}

.info_box .list h3 {
  font-size: .8rem;
  color: #2894FF;
  line-height: 1.5rem;
}

.info_box .list p {
  font-size: .7rem;
}



/* 展示门店地图 */
.map {
  width: 95%;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px #333;
}

.map #container {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
}

.map .content-window-card {
  position: relative;
  box-shadow: none;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 0;
}

.map .content-window-card p {
  height: 2rem;
}

.map .custom-info {
  border: solid 1px silver;
}

.map div.info-top {
  position: relative;
  background: none repeat scroll 0 0 #F9F9F9;
  border-bottom: 1px solid #CCC;
  border-radius: .3rem .3rem 0 0;
  padding: .3rem 0rem;
  box-sizing: border-box;
}

.map div.info-top div {
  display: inline-block;
  color: #333333;
  font-size: .7rem;
  font-weight: bold;
  line-height: 1rem;
  padding: 0 .5rem;
}

.map div.info-top img {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  transition-duration: 0.25s;
}

.map div.info-top img:hover {
  box-shadow: 0px 0px 5px #000;
}

.map div.info-middle {
  font-size: .6rem;
  padding: .5rem .3rem;
  line-height: 1rem;
}

.map div.info-bottom {
  height: 0px;
  width: 100%;
  clear: both;
  text-align: center;
}

.map div.info-bottom img {
  position: relative;
  z-index: 104;
}

.map span {
  margin-left: .3rem;
  font-size: .6rem;
}

.map .info-middle img {
  width: 5rem;
  float: left;
  margin-right: 6px;
}

/* 导航到店 */
.nav_store {
  width: 95%;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px #333;
  padding: .5rem .3rem;
  box-sizing: border-box;
}

.nav_store ul {
  width: 100%;
  padding: .3rem .5rem;
  box-sizing: border-box;
}

.nav_store ul li {
  width: 100%;
  background-color: #B8B8DC;
  padding: .5rem;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: .5rem;
}

.nav_store ul li img {
  width: 40%;
  border-radius: .5rem;
  float: left;
  border: 1px solid #333;
  box-shadow: 0px 0px 5px 2px #666;
}

.nav_store ul li .nav_text {
  float: right;
  width: 53%;
  border-left: 1px solid #fff;
  padding-left: .5rem;
  box-sizing: border-box;
}

.nav_store ul li .nav_text h3 {
  font-size: .8rem;
  color: #fff;
  line-height: 1rem;
}

.nav_store ul li .nav_text p {
  font-size: .7rem;
  color: #fff;
}



.team_but {
  width: 80%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team_but button {
  position: relative;
  margin: 0;
  padding: .2rem .5rem;
  height: 1.6rem;
  width: 8rem;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;

  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  animation: rotate 0.7s ease-in-out both infinite;
}

.team_but button span {
  color: #ff8800;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 2px;
  animation: storm 0.7s ease-in-out both infinite;
  animation-delay: 0.06s;
}

.team_but button span i {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../../images/map/nav_btn.png)no-repeat center / 1.5rem 1.5rem;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}













/* 适配平板 Pro */
@media only screen and (min-width: 1024px) {
  .map .content-window-card {
    width: 15rem;
  }
}



/* 适配平板 */
@media only screen and (max-width: 768px) {
  .map .content-window-card {
    width: 15rem;
  }
}






/* 适配 Galaxy S5 */
@media only screen and (max-width: 360px) {

  .map .content-window-card {
    width: 16rem;
  }
}

/* 适配 Photo 5s */
@media only screen and (max-width: 320px) {
  .map .content-window-card {
    width: 12.5rem;
  }
}